body {
    display: grid;
    background-color: #fdfdfd;
    font-family: 'Quicksand', sans-serif;
    line-height: 2rem;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    margin: 10px auto;
}
h1{
    font-family: 'Mukta', sans-ser;
    border-bottom: 1px solid #000000;
    /* margin-left: 32px; */
    margin-top: 50px;
    font-size: 30pt;
}
h2{
    position: relative;
    font-family: 'Mukta', sans-ser;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 15px;
}
h3{
    position: relative;
    font-family: 'Mukta', sans-ser;
    margin-top: 0;
}
.containerH3{
    display: inline-flex;
    line-height: 2rem;
    font-size: 14pt;
    font-weight: 400;
}
#contentThink{
    font-size: 20pt;
}
#contentBig{
    font-size: 30pt;
}
#contentStart{
    font-size: 30pt;
}
#contentSmall{
    font-size: 20pt;
}
#easytechLogo{
    width: 30%;
    position: relative;
    float:right;
    margin-left: 20px;
    margin-top: 20px;
}
#content{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    line-height: 2rem;
    font-size: 16pt;
    font-weight: 400;
    margin-bottom: 0;
    text-align: justify;
}
#contact{
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #000000;
    margin-bottom:40px
}
    /*style form*/
form {
    width: 750px;
    margin: auto;
}
    /* Style the tab */
.tab {
    background-color: rgba(255, 255, 255, .8);
    overflow: hidden;
    width: 22.1755%;
    margin-bottom: 10px;
}
    /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    font-size: 17px;
}
    /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
    /* Create an active/current tablink class */
.tab button.active {
    background-color: #cecece;
}
    /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}
    /*style legend*/
legend {
    color: #888888;
    font-weight: bold;
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
    line-height: 2rem;
    margin-top: 10px;
}
    /*style form*/
input, textarea {
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    background-color: rgba(255, 255, 255, .8);
    margin-top: 10px;
}
input{
    /* width: 42%; */
    margin-left: 10px;
}
    /*insert hover effect in select area*/
input:hover, textarea:hover {
    background-color: #dddddd;
}
input#cName{
    margin-left: 37.5px;
    width: 45.6%;
}
input#cEmail{
    margin-left: 43px;
    width: 45.5%;
}
input#cPass{
    width: 45.5%;
}
input#cSubject{
    width: 48.5%;
}
    /* Style the fieldset */
fieldset {
    border-color: #cecece;
    margin: 20px;
}
fieldset#gender {
    border: none;
    width: 150px;
}
fieldset#userSign {
    border: none;
    background: url(./images/icone-contato.png) no-repeat 95% 95%;
    margin: 0;
    margin-top: 20px;
}
fieldset#userLog {
    border: none;
    background: url(./images/icone-contato2.png) no-repeat 95% 95%;
    height: 140px;
}
fieldset#message {
    border: none;
    background: url(./images/icone-mensagem.png) no-repeat 95% 95%;
    margin-top: 10px;
    margin-left: 32px;
    margin-bottom: 0px;
}
button.btn{
    display: block;
    height: 45px;
    width: 20%;
    margin: 0px auto 30px auto;
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2rem;
    color: #ffffff;
    background-color: #cecece
}

#navReference,
#footerReference {
    width: 100%;
}