    body {
        width: 100%;
        background-color: #D8D8D8;
        background-image: linear-gradient(90deg, #F4F4F4 0%, #FFFFFF 50%, #F4F4F4 100%);
    }



    /* #################################### NAV #################################### */

    .navContainer {
        width: 75%;
        overflow: hidden;
        margin: auto auto;

        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }


    .easyTechLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 100px;
        margin: 20px 30px 15px 30px;
    }

    #easyTechImage {
        width: 50%;
    }

    #easyTechMoto {
        width: 75%;
        margin-left: 10px;
    }

    .navMenu {
        float: right;
        list-style: none;
        font-size: 15px;
    }

    .navMenu ul {
        margin: 25px 25px 25px 8px;
    }

    .navMenu li {
        display: inline-block;
        text-align: center;
        margin: 8px 15px;
        text-decoration: none;
    }


    .navMenu li:hover {
        text-shadow: 1px 1px 2px #ccc;
        cursor: pointer;
    }


    /* ********************************************* ANIMATED LOGO *********************************************   */

    .EasyTechFlyingLogo {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: EasyTechFlyingLogoAnimation 6s ease-in-out infinite;
    }

    @keyframes EasyTechFlyingLogoAnimation {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }

        25% {
            transform: translate3d(3px, -2px, -2px);
        }

        50% {
            transform: translate3d(-2px, 3px, -2px);
        }

        75% {
            transform: translate3d(-2px, -2px, 3px);
        }

        100% {
            transform: translate3d(0px, 0px, 0px);
        }
    }








    /* ********************************************* HEADER  *********************************************   */



    .headerImage {
        width: 100vw;
        height: 90vh;
        background: url("/images/headerBackground.png");
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 2px #0034e1;

    }

    .headerText {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 35%;
        left: 39%;
        font-family: 'Mukta', sans-serif;
        font-size: 42px;
        font-weight: 800;
        line-height: 90px;
        text-align: justify;
        color: #000000;
    }












    /* ********************************** FOOTER ********************************** */



    .footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: black;
    }

    .inner_footer {
        display: flex;
    }

    .inner_footer .box {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .box h1 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .box .conteiner {
        margin: 20px 0 0 0;
        line-height: 20px;
        text-align: justify;
    }

    .box .conteiner li {
        list-style-type: none;
        display: inline;
    }












    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 2560px) {
        .headerText {
            position: absolute;
            top: 35%;
            left: 40%;
            font-size: 55px;
            line-height: 110px;
        }
    }



    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 1440px) {
        .headerImage {
            height: 80vh;
            background-position: 70%;
        }

        .headerText {
            font-size: 42px;
            left: 35%;
            font-weight: 800;
            line-height: 90px;
        }
    }



    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 1200px) {
        .headerImage {
            height: 70vh;
            background-position: 70%;
        }


        .headerText {
            top: 35%;
            left: 32%;
            font-size: 32px;
            line-height: 70px;
        }
    }

    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 1024px) {

        .navContainer {
            width: 80%;
        }

        .navMenu li {
            margin: 8px 8px;
            font-size: 14px;
        }

        .headerImage {
            height: 55vh;
            background-position: 75%;
        }

        .headerText {
            top: 38%;
            left: 38%;
            font-size: 25px;
            line-height: 70px;
        }
    }

    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 910px) {

        .navContainer {
            width: 85%;
        }

        .navMenu li {
            margin: 8px 8px;
            font-size: 14px;
        }

        .easyTechLogo {
            margin: 25px 0 0 25px;
        }

        .headerImage {
            height: 50vh;
            background-position: 75%;
        }

        .headerText {
            top: 36%;
            left: 39%;
            font-size: 22px;
            line-height: 50px;
        }
    }

    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 780px) {
        .navMenu li {
            margin: 5px 5px;
            font-size: 12px;
        }

        .easyTechLogo {
            width: 80px;
            margin: 15px 0 0 25px;
        }

        .headerImage {
            height: 40vh;
            background-position: 75%;
        }


        .headerText {
            top: 38%;
            left: 36%;
            font-size: 18px;
            line-height: 40px;
        }
    }


    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 675px) {
        .navContainer {
            width: 90%;
        }

        .EasyTechFlyingLogo {
            width: 80%;

        }

        .easyTechLogo {
            width: 70px;
            margin: 16px 0 0 20px;
        }

        .navMenu li {
            margin: 5px 5px;
            font-size: 12px;
        }


        .headerImage {
            height: 38vh;
        }

        .headerText {
            top: 38%;
            left: 36%;
            font-size: 18px;
            line-height: 40px;
        }
    }

    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 600px) {

        .navContainer {
            width: 100%;
        }

        #easyTechMoto {
            display: none;
        }

        .easyTechLogo {
            width: 40px;
            margin: 15px 5px 8px 15px;
        }

        .EasyTechFlyingLogo img {
            width: 100%;
        }

        .navMenu ul {
            margin: 15px 6px;
        }

        .navMenu li {
            margin: 5px 12px;
            font-size: 12px;
        }

        .headerText {
            top: 38%;
            left: 33%;
            font-size: 14px;
            line-height: 40px;
        }
    }



    /* ********************************** MEDIA QUERIES ********************************** */

    @media screen and (max-width: 501px) {

        .navContainer {
            width: 100%;
        }

        #easyTechMoto {
            display: none;
        }

        .easyTechLogo {
            width: 40px;
            margin: 15px 5px 8px 15px;
        }

        .EasyTechFlyingLogo img {
            width: 100%;
        }

        .navMenu ul {
            margin: 15px 2px;
        }

        .navMenu li {
            margin: 5px 3px;
            font-size: 12px;
        }


        .headerText {
            top: 38%;
            left: 30%;
            font-size: 12px;
            line-height: 35px;
        }
    }

















    /* ********************************** MEDIA QUERIES ********************************** */

    /* @media screen and (max-width: 600px) {
        .inner_footer {
            width: 80%;
        }
    }

    @media screen and (max-width: 500px) {
        .inner_footer {
            width: 90%;
            flex-direction: column;
        }
    } */