body {
    margin: 10px;
}

h1, span {
    font-family: 'Quicksand', sans-serif;
}

p, table{
    font-family: 'Mukta', sans-serif;
}

img{
    width:500px;
    height:300px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: flex-start;
    vertical-align: middle;
    
}
table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
table#tabelaspec td.cd {
    background-color: #cecece;
}
table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#tabelaspec caption span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}