body {
    display: grid;
    background-color: #fdfdfd;
    font-family: 'Quicksand', sans-serif;
    line-height: 2rem;
    font-size: 16px;
    font-weight: 400;
    width: 75%;
    margin: 10px auto 0 auto;
}
h1{
    font-family: 'Mukta', sans-ser;
    border-bottom: 1px solid #000000;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    font-size: 28px;
}
h2{
    position: relative;
    font-family: 'Mukta', sans-ser;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}
.sectionContainer{
    width: 75%;
    margin: 0 auto;
}

/* ********************************** IMAGES********************************** */
 
ul#photo-container{
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    width: 75%;
    grid-gap: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* width: 60%;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    list-style: none; */
}
ul#photo-container li{
    margin: 40px auto 0 auto;
    width: 75%;
    height: 250px;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    padding: 16px;
    box-shadow: 0 4px 8px 0 #00000033;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out;
    /* width: 40%;
    height: 300px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4); */
}
ul#photo-container li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 16px;
    line-height: 370px;
    padding: 5px;
}
ul#photo-container li:hover{
    margin-top: 20px;
    transform: scale(1.1);
    transition: all .3s ease-in;
}
ul#photo-container li:hover span{
    opacity: 1;
}
ul#photo-container li#photo-linpack {
    float: left;
    background: url('../images/limpacktest.png') no-repeat;
    background-position: 100% 100%;
    background-size: 500px 500px;
    background-color: #ffffff;
}
ul#photo-container li#photo-usb {
    float: right;
    background: url('../images/usbtest.png') no-repeat;
    background-position: 100% 100%;
    background-size: 500px 500px;
    background-color: #ffffff;
}
ul#photo-container li#photo-wireless {
    float: right;
    background: url('../images/wirelesstest.png') no-repeat;
    background-position: 100% 100%;
    background-size: 500px 500px;
    background-color: #ffffff;
}
ul#photo-container li#photo-gimp {
    float: right;
    background: url('../images/gimptest2.png') no-repeat;
    background-size: 500px 500px;
    background-color: #ffffff;
}


/* ********************************** TABLE********************************** */
table#tablePerformance {
    font-family: 'Quicksand', sans-serif;;
    border-spacing: 0px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    width: 75%;
    
}
table#tablePerformance td {
    padding: 10px;
    text-align: flex-start;
    vertical-align: middle;
    
}
table#tablePerformance td.ce {
    border-right: 1px solid #606060;  
    vertical-align: top;
    font-weight: bold;
    width: 150px;
}

table#tablePerformance caption {
    font-size: 16px;
    font-weight: bolder;
}
table#tablePerformance caption span{
    display: block;
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

/* ********************************** BOTTOM COLUMNS ****************************************** */

.container-column{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.column{
    justify-content: center;
    align-items: center;
    /* vertical-align: top; */
    float: left;
    width: 48%;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 75px;
}
#contentSoftware{
    margin-bottom: 75px;
}
.contentSoftwarePanel{
    line-height:20px;
}
#contentHardware {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
.contentHardwarePanel p{
    padding-bottom:20px;
}
.container-column:after{
    clear: both;
}
.content-inline{
    display: flex;
    font-size: 16px;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto 75px auto;
    border-top: 1px solid #000000;
}
.content-inline p{
    margin:10px;
    padding-left: 20px;
    justify-content: space-between;
}

#navReference,
#footerReference {
    width: 100%;
}

/* ********************************** MEDIA QUERIES********************************** */
@media screen and (max-width: 2202px) {
    body{
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (max-width:1719px){
    ul#photo-container{
        width: 100%;
    }
}
@media screen and (max-width: 1680px) {
    #photo-container{
        width: 100%;
        padding:0;
    }
}
@media screen and (max-width: 1470px) {
    body{
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media screen and (max-width: 1100px) {
    body{
        width: auto;
    }
}
@media screen and (max-width: 730px) {
    
}