* {
    box-sizing: border-box;
  }

body {
    background-color: #fdfdfd;
    font-family: 'Mukta', sans-serif;
}

h1, h2, span {
    font-family: 'Quicksand', sans-serif;
}

p{
    font-family: 'Mukta', sans-serif;
}

.container{
    display: inline-block;
    width: 1500px;
    justify-content: center;    
}
.content{
    float:right;   
    width: 40%;
    padding: 10px;
    margin-top: auto;
    justify-content: center;
    display: block;
    margin-left: auto;
    
}
 
.desktop-img{
    width:100%;
    height: auto;
    float: right;
    width: 55%;
    margin: 30px auto;
    border-radius: 2%;
    display: block;
}

table#tablePerformance {
    font-family: 'Mukta', sans-serif;
    border-spacing: 0px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    width: 800px;
    
}
table#tablePerformance td {
    padding: 10px;
    text-align: flex-start;
    vertical-align: middle;
    
}
table#tablePerformance td.ce {
    border-right: 1px solid #606060;  
    color: #000000;
    vertical-align: top;
    font-weight: bold;
}

table#tablePerformance caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#tablePerformance caption span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

#navReference,
#footerReference {
    width: 100%;
}

@media