body {
    width: 100%;
    background-color: #D8D8D8;
    background-image: linear-gradient(90deg, #F4F4F4 0%, #FFFFFF 50%, #F4F4F4 100%);
    font-family: 'Quicksand', sans-serif;
    line-height: 2rem;
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-family: 'Mukta', sans-ser;
    width: 100%;
    text-align: left;
    font-size: 28px;
    text-shadow: 1px 1px 1px #a0a0a0;

}
h2{
    position: relative;
    font-family: 'Mukta', sans-ser;
    font-size: 24px;
    margin-bottom: 15px;
}

/* ********************************************* NAV BAR *********************************************   */

.navContainer {
    width: 75%;
    overflow: hidden;
    margin: auto auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.navContainer a{
    color: #000000
}
.navContainer a:link {
    text-decoration: none;
}
  
.navContainer a:visited {
    text-decoration: none;
}
  
.navContainer a:hover {
    text-decoration: underline;
}



.easyTechLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100px;
    margin: 20px 30px 15px 30px;
}

#easyTechImage {
    width: 50%;
}

#easyTechMoto {
    width: 75%;
    margin-left: 10px;
}




/* ********************************************* ANIMATED LOGO *********************************************   */

.EasyTechFlyingLogo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: EasyTechFlyingLogoAnimation 6s ease-in-out infinite;
}

@keyframes EasyTechFlyingLogoAnimation {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    25% {
        transform: translate3d(3px, -2px, -2px);
    }

    50% {
        transform: translate3d(-2px, 3px, -2px);
    }

    75% {
        transform: translate3d(-2px, -2px, 3px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}


.navMenu {
    float: right;
    list-style: none;
    font-size: 15px;
}

.navMenu ul {
    margin: 25px 25px 25px 8px;
}

.navMenu li {
    display: inline-block;
    text-align: center;
    margin: 8px 15px;
}


.navMenu li:hover {
    text-shadow: 1px 1px 2px #ccc;
    cursor: pointer;
}





/* ********************************************* FOOTER STYLES *********************************************   */

.footer{
    margin:0;
    padding:0;
    color:white;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size:10px;
    position:fixed; 
    bottom: 0px;
    width:100%;
    background: black;
}
.inner_footer{
    display: flex;
}
.inner_footer .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h1{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .conteiner{
    margin:20px 0 0 0;
    line-height:20px;
    text-align: justify;
}
.box .conteiner li{
    list-style-type: none;
    display: inline;
}



/* ********************************** MEDIA QUERIES********************************** */



@media screen and (max-width: 1000px) {

    .navContainer {
        width: 80%;
    }

    .navMenu li {
        margin: 8px 8px;
        font-size: 14px;
    }
}



/* ********************************** MEDIA QUERIES********************************** */



@media screen and (max-width: 910px) {

    .navContainer {
        width: 85%;
    }

    .navMenu li {
        margin: 8px 8px;
        font-size: 14px;
    }

    .easyTechLogo {
        margin: 25px 0 0 25px;
    }
}


/* ********************************** MEDIA QUERIES********************************** */


@media screen and (max-width: 780px) {
    .navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }

    .easyTechLogo {
        width: 80px;
        margin: 15px 0 0 25px;
    }

}


/* ********************************** MEDIA QUERIES********************************** */


@media screen and (max-width: 675px) {
    .navContainer {
        width: 90%;
    }

    .EasyTechFlyingLogo {
        width: 80%;

    }

    .easyTechLogo {
        width: 70px;
        margin: 16px 0 0 20px;
    }

    .navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }
}

/* ********************************** MEDIA QUERIES********************************** */

@media screen and (max-width: 600px) {

    .navContainer {
        width: 100%;
    }

    #easyTechMoto {
        display: none;
    }

    .easyTechLogo {
        width: 40px;
        margin: 15px 5px 8px 15px;
    }

    .EasyTechFlyingLogo img {
        width: 100%;
    }

    .navMenu ul {
        margin: 15px 6px;
    }

    .navMenu li {
        margin: 5px 12px;
        font-size: 12px;
    }
    .inner_footer {
        width:80%;
    }
}

/* ********************************** MEDIA QUERIES********************************** */

@media screen and (max-width: 500px) {

    .navContainer {
        width: 100%;
    }

    #easyTechMoto {
        display: none;
    }

    .easyTechLogo {
        width: 40px;
        margin: 15px 5px 8px 15px;
    }

    .EasyTechFlyingLogo img {
        width: 100%;
    }

    .navMenu ul {
        margin: 15px 2px;
    }

    .navMenu li {
        margin: 5px 4px;
        font-size: 12px;
    }
    .inner_footer {
        width:90%;
        flex-direction: column;
    }
}