body {
    background-color: #fdfdfd;
    font-family: 'Mukta', sans-serif;
    width: 100%; 
}

#easyTechLogo {
    float: left;
    width: 160px;
    margin: 15px 0 0 30px;
}

#navContainer {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
}

#navMenu {
    float: right;
    list-style: none;
    margin: 12px 0 0 0;
    font-size: 14px;
}

#navMenu ul {
    margin: 8px 25px;
}

#navMenu li {
    display: inline-block;
    text-align: center;
    margin: 8px 15px;
}

#navMenu li,
#navMenu li:after,
#navMenu li:before {
    transition: all .2s;

}

#navMenu li:hover {
    text-shadow: 1px 1px 2px #9d9d9d;
}