body {
    background-color: #fdfdfd;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

#easyTechLogo {
    float: left;
    width: 160px;
    margin: 15px 0 0 30px;
}

#navContainer {
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#navMenu {
    float: right;
    list-style: none;
    margin: 12px 0 0 0;
    font-size: 20px;
}

#navMenu ul {
    margin: 8px 25px;
}

#navMenu li {
    display: inline-flex;
    text-align: center;
    margin: 8px 15px;
}

#navMenu li a:hover {
    /* por algum motivo não consegui fazer... deve ser cansaço.
                        Achei um link com efeitos incríveis
                        https: //codepen.io/maheshambure21/pen/QwXaRw */
}

@media screen and (max-width: 915px) {
    #navMenu li {
        margin: 8px 8px;
        font-size: 18px;
    }

    #navContainer {
        font-weight: 600;
    }
}

@media screen and (max-width: 780px) {
    #navMenu li {
        margin: 5px 5px;
        font-size: 15px;
    }

    #easyTechLogo {
        width: 140px;
        margin: 15px 0 0 30px;
    }
}

@media screen and (max-width: 675px) {
    #easyTechLogo {
        width: 120px;
        margin: 15px 0 0 30px;
    }

    #navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 565px) {
    #easyTechLogo {
        display: none;
        /* Aqui temos que cropar a imagem ou substituí-la */
    }

    #navMenu li {
        margin: 5px 5px;
        font-size: 14px;
    }
}