.text{
    display: flex;
}

.home{
    display:flex;
    justify-content:center;
    flex-direction:column;

}

*{
    padding:0;
    margin:0;
}
section{
    width:100%;
    background:#333;
    display:inline-block;
    height:50vh;
    text-align:center;
    padding:50px;
    text-decoration:underline;
    font-size:36px;
    color: #f1f1f1;
    font-weight: 700;
    font-family:"Raleway", sans-serif;
}
.footer{
    background:#666;
    width:100%;
    box-sizing: border-box;
    text-align: left;
    text-align:left;
    font-size:16px;
    font-weight:500;
    padding:55px 50px;
}
.footer.footer-left,
.footer.footer-center,
.footer.footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer h3{
    color:#fff;
    font-size:36px;
    font-family:"Raleway",sans-serif;
    font-weight:400;
    margin:0;
}
.footer h3 span{
    color:lightseagreen;

}
.footer.footer-links{
    color:#ffff;
    margin:20px 0 12px;
    padding: 0;
    
}
.footer.footer-linksa{
    display:inline-block;
    line-height:1.8;
    font-weight:400;
    text-decoration:none;
    color:inherit;
    font-family:"Raleway",sans-serif;
    margin-right:8px;
}
.footer.footer-company{
    color:#222;
    font-size:14px;
    font-weight: normal;
    margin:0;
    font-family: "Raleway", sans-serif;

}
.footer.footer-center{
    width:35%;
}
.footer.footer-center i{
    width: 36px;
    height:36px;
    border-radius:50%;
    text-align:center;
    line-height:42px;
    margin:10px,15px;
    vertical-align:middle;
    background:#3333;
}
