body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8D8D8;
    background-image: linear-gradient(90deg, #F4F4F4 0%, #FFFFFF 50%, #F4F4F4 100%);
    width: 100%;

}



/* *************************************************** NAV *************************************************** */

.navContainer {
    width: 75%;
    overflow: hidden;
    margin: auto auto;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}


.navMenu {
    float: right;
    list-style: none;
    font-size: 15px;
}

.navMenu ul {
    margin: 25px 25px 25px 8px;
}

.navMenu li {
    display: inline-block;
    text-align: center;
    margin: 8px 15px;
}


.navMenu li:hover {
    text-shadow: 1px 1px 2px #ccc;
    cursor: pointer;
}


.easyTechLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100px;
    margin: 20px 30px 15px 30px;
}

#easyTechImage {
    width: 50%;
}

#easyTechMoto {
    width: 75%;
    margin-left: 10px;
}

/* ********************************************* ANIMATED LOGO *********************************************   */

.EasyTechFlyingLogo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: EasyTechFlyingLogoAnimation 6s ease-in-out infinite;
}

@keyframes EasyTechFlyingLogoAnimation {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    25% {
        transform: translate3d(3px, -2px, -2px);
    }

    50% {
        transform: translate3d(-2px, 3px, -2px);
    }

    75% {
        transform: translate3d(-2px, -2px, 3px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}





/* ******************************************** LANDING ******************************************** */

/* #homeBackground {
    margin: 0 auto;
    box-sizing: border-box;
    tent: center;
    align-items: center;
    object-fit: cover;
    height: 300px;
    min-height: 10vh;
    padding: 0rem 5rem;
} */


.landing {
    min-height: 100vh;
    background: url("/images/Raspberry_Pi_4_Model_B_-_Side.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5rem 55rem;
    width: fit-content;
    /* background-repeat: no-repeat; */
}



.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: #3d3d3d;
}

.intro {
    background: #2e3de1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: #19217d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text h1:nth-child(1) {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
    color: #ffffff;
}

.intro-text h1:nth-child(3n+2),
.intro-text h1:nth-child(3n+3) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #ffffff;
}





.hide {
    background: #2e3de1;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}









/* ********************************** MEDIA QUERIES********************************** */


@media screen and (max-width: 1000px) {

    .navContainer {
        width: 80%;
    }

    .navMenu li {
        margin: 8px 8px;
        font-size: 14px;
    }
}


/* ********************************** MEDIA QUERIES********************************** */

@media screen and (max-width: 910px) {

    .navContainer {
        width: 85%;
    }

    .navMenu li {
        margin: 8px 8px;
        font-size: 14px;
    }

    .easyTechLogo {
        margin: 25px 0 0 25px;
    }
}


/* ********************************** MEDIA QUERIES********************************** */


@media screen and (max-width: 780px) {
    .navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }

    .easyTechLogo {
        width: 80px;
        margin: 15px 0 0 25px;
    }

}


/* ********************************** MEDIA QUERIES********************************** */


@media screen and (max-width: 675px) {
    .navContainer {
        width: 90%;
    }

    .EasyTechFlyingLogo {
        width: 80%;

    }

    .easyTechLogo {
        width: 70px;
        margin: 16px 0 0 20px;
    }

    .navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }
}

/* ********************************** MEDIA QUERIES********************************** */

@media screen and (max-width: 600px) {

    .navContainer {
        width: 100%;
    }

    #easyTechMoto {
        display: none;
    }

    .easyTechLogo {
        width: 40px;
        margin: 15px 5px 8px 15px;
    }

    .EasyTechFlyingLogo img {
        width: 100%;
    }

    .navMenu ul {
        margin: 15px 6px;
    }

    .navMenu li {
        margin: 5px 12px;
        font-size: 12px;
    }
}


/* ********************************** MEDIA QUERIES********************************** */

@media screen and (max-width: 500px) {

    .navContainer {
        width: 100%;
    }

    #easyTechMoto {
        display: none;
    }

    .easyTechLogo {
        width: 40px;
        margin: 15px 5px 8px 15px;
    }

    .EasyTechFlyingLogo img {
        width: 100%;
    }

    .navMenu ul {
        margin: 15px 2px;
    }

    .navMenu li {
        margin: 5px 4px;
        font-size: 12px;
    }
}