body {
    display: grid;
    background-color: #fdfdfd;
    font-family: 'Quicksand', sans-serif;
    font-size: 13pt;
    width: 60%;
    margin: 10px auto;
}
h1{
    font-family: 'Mukta', sans-ser;
}
h2{
    position: relative;
    font-family: 'Mukta', sans-ser;
    text-align: center
}
    /*style form*/
form {
    width: 750px;
    margin: auto;
}
    /*style form*/
input, textarea {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
    margin-left: 20px;
}
    /*insert hover effect in select area*/
input:hover, textarea:hover {
    background-color: #dddddd;
}
    /*style legend*/
legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: "Quicksand", sans-serif;
}
    /* Style the tab */
.tab {
    overflow: hidden;
    width: 22.1%;
    border: 1px solid #cecece;
    margin-bottom: 10px;
}
    /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-left: 1px solid #cecece;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    font-size: 17px;
}
  
    /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
    /* Create an active/current tablink class */
.tab button.active {
    background-color: #cecece;
}
  
    /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;

}
    /* Style the fieldset */
fieldset {
    border-color: #cecece;
    margin: 20px;
}
fieldset#gender {
    width: 150px;
}
fieldset#userSign {
    background: url(./images/icone-contato.png) no-repeat 95% 95%;
    margin-top: 0;
}
fieldset#userLog {
    background: url(./images/icone-contato2.png) no-repeat 95% 95%;
    margin-top: 0;

}
fieldset#message {
    background: url(./images/icone-mensagem.png) no-repeat 95% 95%;
    margin-top: 0;

}
 

#navReference,
#footerReference {
    width: 100%;
}