body {
    background-color: #fdfdfd;
    font-family: 'Mukta', sans-serif;
    width: 100%; // Atenção à este code.
}

#easyTechLogo {
    float: left;
    width: 160px;
    margin: 15px 0 0 30px;
}

#navContainer {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
}

#navMenu {
    float: right;
    list-style: none;
    margin: 12px 0 0 0;
    font-size: 14px;
}

#navMenu ul {
    margin: 8px 25px;
}

#navMenu li {
    display: inline-block;
    text-align: center;
    margin: 8px 15px;
}

#navMenu li,
#navMenu li:after,
#navMenu li:before {
    transition: all .2s;
}

#navMenu li:hover {
    text-shadow: 1px 1px 2px #9d9d9d;
}

















#navReference,
#footerReference {
    width: 100%;
}


.specsText {
    font-family: 'Quicksand', sans-serif;
    width: 60%;
    text-align: left;
    margin: 0 auto;
}

.specsText h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    margin: 60px 0 25px 0;
}

.specsText p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 2.5em;
    margin: 15px 0 20px 0;
}


.easyTechXBlueprintContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 100px 0 130px 0;
}


.easyTechImage,
.easyTechBlueprint {
    width: 900px;
    margin: auto;
}

.easyTechBlueprint img {
    position: relative;
    width: 900px;
}

.easyTechImage img {
    position: absolute;
    width: 900px;
}

.easyTechBlueprint img:hover {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 2s;
}















@media screen and (max-width: 1000px) {
    .specsText {
        width: 70%;
    }

    .specsText h1 {
        font-size: 20px;
        margin: 60px 0 25px 0;
    }

    .specsText p {
        font-size: 15px;
        line-height: 2.5em;
        margin: 15px 0 20px 0;
    }

    .easyTechImage,
    .easyTechBlueprint {
        width: 700px;
        margin: auto;
    }

    .easyTechBlueprint img {
        width: 700px;
    }

    .easyTechImage img {
        width: 700px;
    }



}

@media screen and (max-width: 850px) {
    .specsText {
        width: 90%;
    }

    .specsText h1 {
        font-size: 18px;
        margin: 60px 0 25px 0;
    }

    .specsText p {
        font-size: 14px;
        line-height: 2.5em;
        margin: 15px 0 20px 0;
    }

    .easyTechImage,
    .easyTechBlueprint {
        width: 600px;
        margin: auto;
    }

    .easyTechBlueprint img {
        width: 600px;
    }

    .easyTechImage img {
        width: 600px;
    }
}

@media screen and (max-width: 675px) {
    .specsText {
        width: 90%;
    }

    .specsText h1 {
        font-size: 17x;
        margin: 60px 0 25px 0;
    }

    .specsText p {
        font-size: 13px;
        line-height: 2.5em;
        margin: 15px 0 20px 0;
    }

    .easyTechImage,
    .easyTechBlueprint {
        width: 600px;
        margin: auto;
    }

    .easyTechBlueprint img {
        width: 600px;
    }

    .easyTechImage img {
        width: 600px;
    }
}













@media screen and (max-width: 915px) {
    #navMenu li {
        margin: 8px 8px;
        font-size: 12px;
    }

    #navContainer {
        font-weight: 600;
    }
}

@media screen and (max-width: 780px) {
    #navMenu li {
        margin: 5px 5px;
        font-size: 12px;
    }

    #easyTechLogo {
        width: 140px;
        margin: 15px 0 0 30px;
    }
}

@media screen and (max-width: 675px) {
    #easyTechLogo {
        width: 120px;
        margin: 15px 0 0 30px;
    }

    #navMenu li {
        margin: 5px 5px;
        font-size: 11px;
    }
}

@media screen and (max-width: 565px) {
    #easyTechLogo {
        display: none;
        /* Aqui temos que cropar a imagem ou substituí-la */
    }

    #navMenu {
        float: none;
        margin: 0;
    }

    #navMenu ul {
        margin: 8px 8px;
    }

    #navMenu li {
        margin: 5px 9px;
        font-size: 14px;
    }
}